[user]
	name = Stanley Varga
	email = stanleyvarga1@gmail.com
[push]
	autoSetupRemote = true
	# Default push should only push the current branch to its push target, regardless of its remote name
	default = upstream
[pull]
	rebase = false 
[rebase]
	autostash = true
[core]
	fsmonitor = true
