# FONT USED BELOW - BANNER 3D
# https://patorjk.com/software/taag/#p=display&h=2&f=Banner3-D&t=text%0A
# '########:'##::::'##:'##::: ##::'######::'########:'####::'#######::'##::: ##::'######::
#  ##.....:: ##:::: ##: ###:: ##:'##... ##:... ##..::. ##::'##.... ##: ###:: ##:'##... ##:
#  ##::::::: ##:::: ##: ####: ##: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##: ##:::..::
#  ######::: ##:::: ##: ## ## ##: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:. ######::
#  ##...:::: ##:::: ##: ##. ####: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####::..... ##:
#  ##::::::: ##:::: ##: ##:. ###: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:'##::: ##:
#  ##:::::::. #######:: ##::. ##:. ######::::: ##::::'####:. #######:: ##::. ##:. ######::
# ..:::::::::.......:::..::::..:::......::::::..:::::....:::.......:::..::::..:::......:::

## Cheatshet for everything you need
## For example you forgot how to use map-like function for Objects
## cht js/map+object
## or forgot how to list directory 
## cht ls
function cht() {
  if [ -n "$1" ]; then
    curl cht.sh/$1
  else
    echo $c[bold] $c[bg_bright_blue] "⚠️  Your search query is missing  🔍" $c[reset]
  fi
}

## Create a folder and move into it in one command
function mkcd() { mkdir -p "$@" && cd "$_"; }

## Downlods a youtube video in the best available quality of MP4 format
d() {
  # Check if yt-dlp is installed
  if ! command -v yt-dlp &> /dev/null; then
      echo "yt-dlp could not be found. Please install yt-dlp."
      return 1
  fi

  # Ensure the download directory exists
  mkdir -p ~/Downloads/Videos

  # Download the video in the best available quality of MP4 format
  yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best' -o '~/Downloads/Videos/%(title)s.%(ext)s' "$1"
}


